.wrap-guide {
    background-color: transparent !important;
    color: transparent !important;
	height: 100%;
	width: 0px;
	background-image: linear-gradient(to bottom, fade(#F50057, 50%) 50%, fade(white, 0%) 0%);
	background-position: left;
	background-size: 1px 10px;
	background-repeat: repeat-y;
	opacity: 0;
}